{% include '../assets/layout/base.twig' with {
    title: 'Компоненты',
    meta_d: 'Компоненты',
    theme_color: '#007B3B'
} %}

{% from '../components/checkbox/checkbox.twig' import checkbox %}
{% from '../components/radio/radio.twig' import radio %}
{% from '../components/dropdown/dropdown.twig' import dropdown %}
{% from '../components/form/form.twig' import form %}

{% block body %}
    {% include '../components/breadcrumbs/breadcrumbs.twig' with {
        modify: '',
        items:[{
            text: 'Главная',
            link: 'home.html',
        },{
            text: 'Каталог',
            link: 'catalog-category.html'
        },{
            text: 'Кровля',
            last: true
        }]
    } %}

    {% include '../components/reviews/reviews.twig' %}

    <button data-modal-open="location">Открыть location</button>
    <button data-modal-open="test">Открыть test</button>
    <button data-modal-open="test1">Открыть test1</button>

    <hr>

    {{ checkbox({
        text: 'Текст текст текст <a href="#fff">Ссылка на документ</a> текст текст'
    }) }}
    {{ checkbox({
        text: 'Текст текст текст <a href="#fff">Ссылка на документ</a> текст текст'
    }) }}

    <hr>

    {{ radio({
        name: 'test',
        text: 'Текст текст текст <a href="#fff">Ссылка на документ</a> текст текст'
    }) }}
    {{ radio({
        name: 'test',
        text: 'Текст текст текст <a href="#fff">Ссылка на документ</a> текст текст'
    }) }}

    <hr>

    <button data-dropdown-open="test">Открыть dropdown test</button>
    {{ dropdown({
        id: 'dropdown',
        trigger: '<button data-dropdown-open="dropdown">Открыть dropdown</button>',
        type: 'right',
        content: 'Текст текст текст <a href="#fff">Ссылка на документ</a> текст текст'
    }) }}

    <hr>

    {{ form({
        id: 'auth'
    }) }}
{% endblock %}


{% block modal %}
    {% include '../components/modal/modal-location.twig' %}
{% endblock %}


{% block footer %}
{% endblock %}


{% block script %}
{% endblock %}
